<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="footer">
  <h2> You can find us on:</h2>
    <ul class="list-inline">
      <li><i class="width fab fa-facebook-square"></i></li>
      <li><i class="width fab fa-linkedin"></i></li>
      <li><i class="width fab fa-instagram-square"></i></li>
    </ul>
</div>
