<div class="banner">
  <h1>The Petsitters</h1>
  <br>
  <div class="logo">
    <%= link_to pets_path do %>
    <%= cl_image_tag("bichon2_gog3zx.png", width: 400, height: 400, crop: :fill) %>
    <% end %>
  </div>
</div>

