.mapboxgl {
  max-width: 200px;
  height: 100vh;
  position: sticky;
  top: 0;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

#map {
  max-width: 100vh !important;
  height: 100vh;
  position: sticky;
  right: 0;
  top: 16px;
}
