
// .navbar {
//   width: 40px;
//   // display: block;
//   margin: 40px auto;
//   padding: 8px 10px;
//   transition: all 0.5s;
//   -webkit-transition: all 0.5s;
// }

// // .navbar .navbar-collapse {
// //   flex-grow: 0;
// // }

// .navbar div{
//   height: 5px;
//   background:
//   margin: 7px 0px 7px 0px;
//   border-radius: 25px;
//   transition: all 0.5s;
//   -webkit-transition: all 0.5s;
// }

.navbar {
  position: fixed;
  right: 0;
  top: 0;
  width: 100px;
  z-index: 2;
  background-color:#EBFFFE;
  height: 15%;
}
.navbar-lewagon {
  justify-content: space-between;
  background: #EBFFFE;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.dropdown-menu a {
  text-decoration: none;
  color: inherit;
}

.one { width: 50px; }
.two { width: 40px; }
.three { width: 30px;}
